In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [58]:
data = pd.read_csv('odev_tenis.csv')

In [59]:
data

     outlook  temperature  humidity  windy play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        86  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
5      rainy           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13     rainy           71        91   True   no

In [60]:
data2 = data.apply(preprocessing.LabelEncoder().fit_transform)

In [61]:
c = pd.DataFrame(data2.iloc[:,:1])
ohe = preprocessing.OneHotEncoder()
c = ohe.fit_transform(c).toarray()
print(c)

[[0. 0. 1.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [1. 0. 0.]
 [0. 1. 0.]]

In [62]:
weather = pd.DataFrame(data= c , index = range(14), columns = ['o','r','s'])

In [63]:
weather

      o    r    s
0   0.0  0.0  1.0
1   0.0  0.0  1.0
2   1.0  0.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   1.0  0.0  0.0
7   0.0  0.0  1.0
8   0.0  0.0  1.0
9   0.0  1.0  0.0
10  0.0  0.0  1.0
11  1.0  0.0  0.0
12  1.0  0.0  0.0
13  0.0  1.0  0.0

In [64]:
last_data = pd.concat([weather,data.iloc[:,1:3]],axis=1)

In [65]:
last_data

      o    r    s  temperature  humidity
0   0.0  0.0  1.0           85        85
1   0.0  0.0  1.0           80        90
2   1.0  0.0  0.0           83        86
3   0.0  1.0  0.0           70        96
4   0.0  1.0  0.0           68        80
5   0.0  1.0  0.0           65        70
6   1.0  0.0  0.0           64        65
7   0.0  0.0  1.0           72        95
8   0.0  0.0  1.0           69        70
9   0.0  1.0  0.0           75        80
10  0.0  0.0  1.0           75        70
11  1.0  0.0  0.0           72        90
12  1.0  0.0  0.0           81        75
13  0.0  1.0  0.0           71        91

In [66]:
last_data = pd.concat([data2.iloc[:,-2:],last_data],axis=1)

In [67]:
last_data

    windy  play    o    r    s  temperature  humidity
0       0     0  0.0  0.0  1.0           85        85
1       1     0  0.0  0.0  1.0           80        90
2       0     1  1.0  0.0  0.0           83        86
3       0     1  0.0  1.0  0.0           70        96
4       0     1  0.0  1.0  0.0           68        80
5       1     0  0.0  1.0  0.0           65        70
6       1     1  1.0  0.0  0.0           64        65
7       0     0  0.0  0.0  1.0           72        95
8       0     1  0.0  0.0  1.0           69        70
9       0     1  0.0  1.0  0.0           75        80
10      1     1  0.0  0.0  1.0           75        70
11      1     1  1.0  0.0  0.0           72        90
12      0     1  1.0  0.0  0.0           81        75
13      1     0  0.0  1.0  0.0           71        91

In [68]:
x_train, x_test, y_train, y_test = train_test_split(last_data.iloc[:,:-1],last_data.iloc[:,-1:],test_size=0.33,random_state=0)
regressor = LinearRegression()
regressor.fit(x_train,y_train)
y_pred = pd.DataFrame(regressor.predict(x_test))

In [69]:
y_pred

           0
0  84.453656
1  63.938400
2  85.760507
3  64.210132
4  75.067933

In [70]:
import statsmodels.api as sm

In [71]:
X = np.append(arr = np.ones((14,1)).astype(int), values = last_data.iloc[:,:-1], axis = 1)
X_l = last_data.iloc[:,[0,1,2,3,4]].values
X_l = (np.array(X_l,dtype=float))
model = sm.OLS(last_data.iloc[:,-1:],X_l).fit()

In [72]:
pd.DataFrame(X_l)

      0    1    2    3    4
0   0.0  0.0  0.0  0.0  1.0
1   1.0  0.0  0.0  0.0  1.0
2   0.0  1.0  1.0  0.0  0.0
3   0.0  1.0  0.0  1.0  0.0
4   0.0  1.0  0.0  1.0  0.0
5   1.0  0.0  0.0  1.0  0.0
6   1.0  1.0  1.0  0.0  0.0
7   0.0  0.0  0.0  0.0  1.0
8   0.0  1.0  0.0  0.0  1.0
9   0.0  1.0  0.0  1.0  0.0
10  1.0  1.0  0.0  0.0  1.0
11  1.0  1.0  1.0  0.0  0.0
12  0.0  1.0  1.0  0.0  0.0
13  1.0  0.0  0.0  1.0  0.0

In [73]:
pd.DataFrame(last_data)

    windy  play    o    r    s  temperature  humidity
0       0     0  0.0  0.0  1.0           85        85
1       1     0  0.0  0.0  1.0           80        90
2       0     1  1.0  0.0  0.0           83        86
3       0     1  0.0  1.0  0.0           70        96
4       0     1  0.0  1.0  0.0           68        80
5       1     0  0.0  1.0  0.0           65        70
6       1     1  1.0  0.0  0.0           64        65
7       0     0  0.0  0.0  1.0           72        95
8       0     1  0.0  0.0  1.0           69        70
9       0     1  0.0  1.0  0.0           75        80
10      1     1  0.0  0.0  1.0           75        70
11      1     1  1.0  0.0  0.0           72        90
12      0     1  1.0  0.0  0.0           81        75
13      1     0  0.0  1.0  0.0           71        91

In [79]:
model.summary()

c:\Users\mfurk\Desktop\App\env\Lib\site-packages\scipy\stats\_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=14 observations were given.
  return hypotest_fun_in(*args, **kwds)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               humidity   R-squared:                       0.234
Model:                            OLS   Adj. R-squared:                 -0.107
Method:                 Least Squares   F-statistic:                    0.6859
Date:                Sun, 09 Feb 2025   Prob (F-statistic):              0.619
Time:                        16:00:58   Log-Likelihood:                -50.114
No. Observations:                  14   AIC:                             110.2
Df Residuals:                       9   BIC:                             113.4
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -6.8324      6.265     -1.091      0.304     -21.005       7.340
x2           -10.4302      7.457     -1.399      0.195     -27.299       6.439
x3            92.8464     10.538      8.811      0.000      69.008     116.685
x4            92.3911      7.587     12.177      0.000      75.227     109.555
x5            88.9050      6.621     13.429      0.000      73.928     103.882
==============================================================================
Omnibus:                        0.336   Durbin-Watson:                   2.056
Prob(Omnibus):                  0.845   Jarque-Bera (JB):                0.466
Skew:                           0.071   Prob(JB):                        0.792
Kurtosis:                       2.118   Cond. No.                         5.27
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
x_train = x_train.iloc[:,1:]# Drop the windy column
x_test = x_test.iloc[:,1:]  # Drop the windy column

In [82]:
regressor.fit(x_train,y_train)
y_pred = pd.DataFrame(regressor.predict(x_test))

In [83]:
y_pred

           0
0  77.981351
1  68.293049
2  81.050375
3  71.449261
4  75.789053

In [78]:
y_test

    humidity
8         70
6         65
4         80
11        90
2         86