# Multiple Linear Regression
The goal of multiple linear regression is to model the linear relationship between the independent variables and response dependent variable.

More than one variables.


Dummy Variable (Kukla Değişkeni)
Another variables that represents a variable is called a dummy variable.


Regression analysis is used with numerical variables. Results only have a valid interpretation if it makes sense to assume that having a value of 2 on some variable is does indeed mean having twice as much of something as a 1, and having a 50 means 50 times as much as 1.


However, social scientists often need to work with categorical variables in which the different values have no real numerical relationship with each other. Examples include variables for race, political affiliation, or marital status. If you have a variable for political affiliation with possible responses including Democrat, Independent, and Republican, it obviously doesn't make sense to assign values of 1 - 3 and interpret that as meaning that a Republican is somehow three times as politically affiliated as a Democrat.


The solution is to use dummy variables - variables with only two values, zero and one. It does make sense to create a variable called "Republican" and interpret it as meaning that someone assigned a 1 on this varible is Republican and someone with an 0 is not.


visit https://dss.princeton.edu/online_help/analysis/dummy_variables.htm for more
P-value (Olasılık Değeri)
How many samples I need to reject a hypothesis? P-value answers this question.


H0 : Null Hypothesis


H1 : Alternative Hypothesis


The smaller the p-value is, the more likely the H0 is erroneous.


The bigger the p-value is, the more likely the H1 is erroneous.

# Feature Selection

Include all features.

Backward Elimination (Geriye Doğru Eleme)

Forward Selection (İleri Seçim)

Bidirectional Elimination (İki Yönlü Eleme)

Score Comparison (Skor Karşılaştırması)

Include all features

If the variable selection has been made and we are sure about the variables, If we have to, for discovery (if we want to get an idea before applying the other four methods), we can use all off the features our model.

Backward Elimination

Select significance level (SL) first. (mostly .05)

A model is built using all variables.

The variable with the highest p value is considered, and if p > SL go to step 4, if not go to step 6.

The variable with the largest p-value is removed.

Machine learning is updated and return to third step.

Machine learning is terminated.

Forward Selection

Select significance level (SL) first. (mostly .05)

A model is built using all variables.

The variable with the lowest p value is considered.

At this stage, keeping the variable selected in the third step constant, a new variable is selected and added to the system.

Machine learning is updated and return to the third step, if p < SL for the smallest p value, go back to the third step, if doesn't, end. (Go to the 6. step.)

Machine learning is terminated.

Bidirectional Elimination

Select significance level (SL) first. (mostly .05)

A model is built using all variables.

The variable with the lowest p value is considered.

At this stage, keeping the variable selected in the third step constant, all other variables are included in the system and the one with the lowest p value remains in the system.

Variables below the sl value remain in the system and none of the old variables can be removed from the system.

Machine learning is terminated.

In [33]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [34]:
veriler = pd.read_csv("veriler.csv")
veriler.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [35]:
veriler.isna().sum()

ulke        0
boy         0
kilo        0
yas         0
cinsiyet    0
dtype: int64

In [134]:
ulke = veriler.iloc[:,0:1].values
le = preprocessing.LabelEncoder()
ulke[:, 0] = le.fit_transform(veriler.iloc[:, 0])

ohe = preprocessing.OneHotEncoder()
ulke = pd.DataFrame(ohe.fit_transform(ulke).toarray())
ulke

      0    1    2
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [37]:
cinsiyet = veriler.iloc[:, 4:].values
le = preprocessing.LabelEncoder()
cinsiyet[:, 0] = le.fit_transform(veriler.iloc[:, 4])
ohe = preprocessing.OneHotEncoder()
cinsiyet = ohe.fit_transform(cinsiyet).toarray()
cinsiyet

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [136]:
final = pd.DataFrame(data=ulke, index=range(22), columns=['fr', 'tr', 'us'])

In [39]:
yas = veriler.iloc[:, 1:4].values
final2 = pd.DataFrame(data=yas, index=range(22), columns=['boy', 'kilo', 'yas'])

In [40]:
veriler

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [41]:
final3 = pd.DataFrame(data = cinsiyet[:, :1], index=range(22), columns=['cinsiyet'])

In [42]:
final3

    cinsiyet
0        1.0
1        1.0
2        0.0
3        0.0
4        1.0
5        1.0
6        1.0
7        1.0
8        0.0
9        1.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       1.0
16       1.0
17       1.0
18       1.0
19       0.0
20       0.0
21       0.0

In [43]:
df = pd.concat([final,final2], axis = 1)

In [44]:
df2 = pd.concat([df,final3], axis = 1)

In [45]:
df2.head()

    fr   tr   us  boy  kilo  yas  cinsiyet
0  0.0  1.0  0.0  130    30   10       1.0
1  0.0  1.0  0.0  125    36   11       1.0
2  0.0  1.0  0.0  135    34   10       0.0
3  0.0  1.0  0.0  133    30    9       0.0
4  0.0  1.0  0.0  129    38   12       1.0

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [47]:
x_train, x_test, y_train, y_test = train_test_split(df,final3, test_size = 0.33, random_state = 0)

In [48]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(x_train,y_train)

y_pred = regressor.predict(x_test)

In [49]:
y_pred

array([[ 0.98720204],
       [-0.12036863],
       [ 0.05009703],
       [ 0.07137418],
       [ 0.72473935],
       [ 0.64615044],
       [-0.03567453],
       [ 0.32612171]])

In [82]:
boy = pd.DataFrame(df2.iloc[:, 3:4].values)
boy # bagımlı degişkenler df

      0
0   130
1   125
2   135
3   133
4   129
5   180
6   190
7   175
8   177
9   185
10  165
11  155
12  160
13  162
14  167
15  174
16  193
17  187
18  183
19  159
20  164
21  166

In [101]:
sol = pd.DataFrame(df2.iloc[:,:3])
sag = pd.DataFrame(df2.iloc[:,4:])

veri = pd.concat([sol,sag],axis=1)

In [102]:
veri

     fr   tr   us  kilo  yas  cinsiyet
0   0.0  1.0  0.0    30   10       1.0
1   0.0  1.0  0.0    36   11       1.0
2   0.0  1.0  0.0    34   10       0.0
3   0.0  1.0  0.0    30    9       0.0
4   0.0  1.0  0.0    38   12       1.0
5   0.0  1.0  0.0    90   30       1.0
6   0.0  1.0  0.0    80   25       1.0
7   0.0  1.0  0.0    90   35       1.0
8   0.0  1.0  0.0    60   22       0.0
9   0.0  0.0  1.0   105   33       1.0
10  0.0  0.0  1.0    55   27       0.0
11  0.0  0.0  1.0    50   44       0.0
12  0.0  0.0  1.0    58   39       0.0
13  0.0  0.0  1.0    59   41       0.0
14  0.0  0.0  1.0    62   55       0.0
15  1.0  0.0  0.0    70   47       1.0
16  1.0  0.0  0.0    90   23       1.0
17  1.0  0.0  0.0    80   27       1.0
18  1.0  0.0  0.0    88   28       1.0
19  1.0  0.0  0.0    40   29       0.0
20  1.0  0.0  0.0    66   32       0.0
21  1.0  0.0  0.0    56   42       0.0

In [103]:
x_train, x_test, y_train, y_test = train_test_split(veri,boy, test_size = 0.33, random_state = 0)

In [106]:
r2 = LinearRegression()
r2.fit(x_train,y_train)

y_pred2 = r2.predict(x_test)

In [107]:
y_pred2

array([[182.26638686],
       [152.87161474],
       [162.79386375],
       [158.30668577],
       [130.82888952],
       [173.96138408],
       [150.12782663],
       [157.26898922]])

In [55]:
import statsmodels.api as sm

In [112]:
X1 = np.append(arr = np.ones((22,1)).astype(int), values = veri, axis = 1)

In [114]:
X = pd.DataFrame(np.append(arr = np.ones((22,1)).astype(int), values = veri, axis = 1))

In [113]:
X1

array([[  1.,   0.,   1.,   0.,  30.,  10.,   1.],
       [  1.,   0.,   1.,   0.,  36.,  11.,   1.],
       [  1.,   0.,   1.,   0.,  34.,  10.,   0.],
       [  1.,   0.,   1.,   0.,  30.,   9.,   0.],
       [  1.,   0.,   1.,   0.,  38.,  12.,   1.],
       [  1.,   0.,   1.,   0.,  90.,  30.,   1.],
       [  1.,   0.,   1.,   0.,  80.,  25.,   1.],
       [  1.,   0.,   1.,   0.,  90.,  35.,   1.],
       [  1.,   0.,   1.,   0.,  60.,  22.,   0.],
       [  1.,   0.,   0.,   1., 105.,  33.,   1.],
       [  1.,   0.,   0.,   1.,  55.,  27.,   0.],
       [  1.,   0.,   0.,   1.,  50.,  44.,   0.],
       [  1.,   0.,   0.,   1.,  58.,  39.,   0.],
       [  1.,   0.,   0.,   1.,  59.,  41.,   0.],
       [  1.,   0.,   0.,   1.,  62.,  55.,   0.],
       [  1.,   1.,   0.,   0.,  70.,  47.,   1.],
       [  1.,   1.,   0.,   0.,  90.,  23.,   1.],
       [  1.,   1.,   0.,   0.,  80.,  27.,   1.],
       [  1.,   1.,   0.,   0.,  88.,  28.,   1.],
       [  1.,   1.,   0.,   0.,  40.,  29.,   0.],
       [  1.,   1.,   0.,   0.,  66.,  32.,   0.],
       [  1.,   1.,   0.,   0.,  56.,  42.,   0.]])

In [115]:
X

      0    1    2    3      4     5    6
0   1.0  0.0  1.0  0.0   30.0  10.0  1.0
1   1.0  0.0  1.0  0.0   36.0  11.0  1.0
2   1.0  0.0  1.0  0.0   34.0  10.0  0.0
3   1.0  0.0  1.0  0.0   30.0   9.0  0.0
4   1.0  0.0  1.0  0.0   38.0  12.0  1.0
5   1.0  0.0  1.0  0.0   90.0  30.0  1.0
6   1.0  0.0  1.0  0.0   80.0  25.0  1.0
7   1.0  0.0  1.0  0.0   90.0  35.0  1.0
8   1.0  0.0  1.0  0.0   60.0  22.0  0.0
9   1.0  0.0  0.0  1.0  105.0  33.0  1.0
10  1.0  0.0  0.0  1.0   55.0  27.0  0.0
11  1.0  0.0  0.0  1.0   50.0  44.0  0.0
12  1.0  0.0  0.0  1.0   58.0  39.0  0.0
13  1.0  0.0  0.0  1.0   59.0  41.0  0.0
14  1.0  0.0  0.0  1.0   62.0  55.0  0.0
15  1.0  1.0  0.0  0.0   70.0  47.0  1.0
16  1.0  1.0  0.0  0.0   90.0  23.0  1.0
17  1.0  1.0  0.0  0.0   80.0  27.0  1.0
18  1.0  1.0  0.0  0.0   88.0  28.0  1.0
19  1.0  1.0  0.0  0.0   40.0  29.0  0.0
20  1.0  1.0  0.0  0.0   66.0  32.0  0.0
21  1.0  1.0  0.0  0.0   56.0  42.0  0.0

In [127]:
X_l = veri.iloc[:,[0,1,2,3,5]].values
X_l = pd.DataFrame(np.array(X_l, dtype=float))

In [128]:
X_l

      0    1    2      3    4
0   0.0  1.0  0.0   30.0  1.0
1   0.0  1.0  0.0   36.0  1.0
2   0.0  1.0  0.0   34.0  0.0
3   0.0  1.0  0.0   30.0  0.0
4   0.0  1.0  0.0   38.0  1.0
5   0.0  1.0  0.0   90.0  1.0
6   0.0  1.0  0.0   80.0  1.0
7   0.0  1.0  0.0   90.0  1.0
8   0.0  1.0  0.0   60.0  0.0
9   0.0  0.0  1.0  105.0  1.0
10  0.0  0.0  1.0   55.0  0.0
11  0.0  0.0  1.0   50.0  0.0
12  0.0  0.0  1.0   58.0  0.0
13  0.0  0.0  1.0   59.0  0.0
14  0.0  0.0  1.0   62.0  0.0
15  1.0  0.0  0.0   70.0  1.0
16  1.0  0.0  0.0   90.0  1.0
17  1.0  0.0  0.0   80.0  1.0
18  1.0  0.0  0.0   88.0  1.0
19  1.0  0.0  0.0   40.0  0.0
20  1.0  0.0  0.0   66.0  0.0
21  1.0  0.0  0.0   56.0  0.0

In [129]:
model = sm.OLS(boy, X_l).fit()

In [130]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      0   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Sun, 09 Feb 2025   Prob (F-statistic):           9.32e-08
Time:                        09:14:40   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
0            115.6583      6.734     17.175      0.000     101.451     129.866
1            109.0786      5.200     20.978      0.000      98.108     120.049
2            106.5445      7.090     15.026      0.000      91.585     121.504
3              0.9405      0.104      9.029      0.000       0.721       1.160
4            -11.1093      4.733     -2.347      0.031     -21.096      -1.123
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         397.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [131]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      0   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Sun, 09 Feb 2025   Prob (F-statistic):           9.32e-08
Time:                        09:14:41   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
0            115.6583      6.734     17.175      0.000     101.451     129.866
1            109.0786      5.200     20.978      0.000      98.108     120.049
2            106.5445      7.090     15.026      0.000      91.585     121.504
3              0.9405      0.104      9.029      0.000       0.721       1.160
4            -11.1093      4.733     -2.347      0.031     -21.096      -1.123
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         397.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.